.DS_Store
*~
.*.sw*
FxA/FxA.xcodeproj/xcuserdata/
FxA/FxA.xcodeproj/project.xcworkspace/xcuserdata/
FxASwiftly/FxASwiftly.xcodeproj/xcuserdata/
FxASwiftly/FxASwiftly.xcodeproj/project.xcworkspace/xcuserdata/
